server {
    listen      80;
    server_name teach.epweike.me;
    root        /var/www/teach.epweike.net/public;
    index       index.php;

    error_log   /var/log/nginx/teach.epweike.me_error.log;
    access_log  /var/log/nginx/teach.epweike.me_access.log;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    error_page 404 /index.php;

    location ~ \.php$ {
        fastcgi_pass php-fpm-7.2:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }
}
